body{
	direction: ltr;
}
nav .brand-logo{
	right: auto;
	left: 10px;
}
.input-field.col label{
	right: auto;
	left: auto;
}
.select-wrapper span.caret{
	left: auto;
	right: 0;
}
.row .col{
	float: left
}

.search-form .btn{
	top: 10px;
	right: 10px !important;
{
