body{
	direction: ltr;
}
nav .brand-logo{
	right: auto;
	left: 10px;
}
.input-field.col label{
	right: auto;
	left: auto;
}
.select-wrapper span.caret{
	left: auto;
	right: 0;
}
.row .col{
	float: left
}
.file-field .btn, .file-field .btn-large
{
	float: left
}