@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Cairo';
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
/* line 3, C:/xampp/htdocs/shahada/en/assets/css/imports/general/general.sass */
body {
  direction: ltr; }

/* line 2, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
nav {
  height: auto;
  line-height: initial;
  background: #FFF;
  color: #777;
  border-bottom: 2px solid #4eb3bd; }
  /* line 8, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
  nav #nav-mobile {
    margin: 15px; }
  /* line 10, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
  nav .brand-logo {
    color: #777; }
    /* line 12, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
    nav .brand-logo img {
      float: right;
      margin: 5px; }
    /* line 15, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
    nav .brand-logo .text {
      float: right;
      padding-top: 25px;
      padding-right: 10px; }
      /* line 20, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
      nav .brand-logo .text h2 {
        font-size: 20px;
        margin: 0; }
      /* line 23, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
      nav .brand-logo .text h3 {
        font-size: 16px;
        margin: 0; }
  /* line 26, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
  nav .username {
    text-align: center; }
    /* line 28, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
    nav .username i {
      height: auto;
      font-size: 30px;
      line-height: initial; }

/* line 32, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
#dropdown1 {
  top: 89px !important;
  min-width: 150px;
  border-top: 3px solid #4eb3bd; }

/* line 37, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
.dropdown-content li > a, .dropdown-content li > span {
  text-align: right;
  font-size: 14px; }

/* line 41, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected, nav ul a:hover {
  background-color: rgba(238, 238, 238, 0.23); }

/* line 45, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/nav.sass */
nav ul a, .dropdown-content li > a, .dropdown-content li > span {
  color: #4eb3bd; }

/* line 2, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
.progress-warpper {
  height: 90px; }
  /* line 4, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
  .progress-warpper .container {
    width: 100%;
    position: relative;
    z-index: 99999; }
  /* line 9, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
  .progress-warpper .makeNewStage:before {
    animation: pulse 2s infinite; }
  /* line 12, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
  .progress-warpper .makeNewStageBefore:after {
    animation: pulse 2s infinite;
    background-color: #7d7d7d !important; }
  /* line 16, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
  .progress-warpper .progressbar-staegs {
    counter-reset: step; }
    /* line 18, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
    .progress-warpper .progressbar-staegs li {
      list-style-type: none;
      width: 16%;
      float: right;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
      transition: .2s; }
      /* line 28, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
      .progress-warpper .progressbar-staegs li:before {
        width: 30px;
        height: 30px;
        content: counter(step);
        counter-increment: step;
        line-height: 30px;
        border: 2px solid #7d7d7d;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: white;
        transition: .2s; }
      /* line 41, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
      .progress-warpper .progressbar-staegs li:after {
        width: 100%;
        height: 2px;
        content: '';
        position: absolute;
        background-color: #7d7d7d;
        top: 15px;
        right: -50%;
        z-index: -1;
        transition: .2s; }
      /* line 51, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
      .progress-warpper .progressbar-staegs li:first-child:after {
        content: none; }
      /* line 53, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
      .progress-warpper .progressbar-staegs li.active {
        color: #4eb3bd;
        transition: .2s; }
        /* line 56, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
        .progress-warpper .progressbar-staegs li.active:before {
          border-color: #4eb3bd;
          background: #4eb3bd;
          color: #FFF; }
        /* line 60, C:/xampp/htdocs/shahada/en/assets/css/imports/parts/progress.sass */
        .progress-warpper .progressbar-staegs li.active + li:after {
          background-color: #4eb3bd; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(78, 179, 189, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(78, 179, 189, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(78, 179, 189, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(78, 179, 189, 0.4);
    box-shadow: 0 0 0 0 rgba(78, 179, 189, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(78, 179, 189, 0);
    box-shadow: 0 0 0 10px rgba(78, 179, 189, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(78, 179, 189, 0);
    box-shadow: 0 0 0 0 rgba(78, 179, 189, 0); } }

/* line 2, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
.separate-ways {
  max-width: 350px;
  margin: 20px auto;
  padding-top: 30vh; }
  /* line 6, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  .separate-ways a {
    direction: ltr !important; }

/* line 9, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
.index-card-warpper {
  position: relative; }
  /* line 11, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  .index-card-warpper .card-head {
    margin-bottom: 40px; }
  /* line 13, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  .index-card-warpper .progress-warpper {
    margin-top: 15vh; }
  /* line 15, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  .index-card-warpper .backToBtns2 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #34495e;
    font-size: 22px;
    cursor: pointer; }

/* line 23, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
#indexView {
  max-width: 850px;
  margin: 20px auto;
  background: #FFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 5px 0px rgba(0, 0, 0, 0.23);
  position: relative; }
  /* line 29, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  #indexView .backToBtns {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #34495e;
    font-size: 22px;
    cursor: pointer; }
  /* line 36, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  #indexView h1 {
    text-align: center;
    padding: 20px 0;
    position: relative; }
    /* line 40, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView h1:after, #indexView h1:before {
      content: '';
      position: absolute;
      width: 110px;
      height: 1px;
      background: #888;
      right: 50%;
      bottom: 0;
      transform: translateX(50%); }
    /* line 49, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView h1:after {
      bottom: -2px; }
  /* line 51, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  #indexView .form {
    max-width: 700px;
    margin: auto;
    position: relative; }
    /* line 57, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 999;
      text-align: center;
      direction: ltr;
      display: none; }
      /* line 68, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
      #indexView .form .loader .preloader-wrapper {
        position: absolute;
        left: 46%;
        top: 39%; }
    /* line 74, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form .radio-btns p {
      margin: 0; }
    /* line 76, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form .radio-btns .right {
      position: relative;
      top: 0;
      padding-left: 0; }
    /* line 80, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form .radio-btns .left {
      position: relative;
      top: -10px;
      padding: 0; }
    /* line 84, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form textarea {
      margin-bottom: 0; }
    /* line 86, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form .input-field {
      margin-top: 20px;
      position: relative; }
    /* line 89, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
    #indexView .form .notice {
      color: red; }
  /* line 91, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  #indexView .files-label {
    top: -20px;
    font-size: 13px; }

/* line 95, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
.submit.left-align.col.s12 {
  direction: ltr; }
  /* line 97, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
  .submit.left-align.col.s12 i {
    transform: rotate(180deg); }

/* line 99, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
.btn, .btn-large {
  background: #34495e;
  color: #FFF; }

/* line 103, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/index.sass */
.btn:hover, .btn-large:hover {
  background: #34495e / .9;
  color: #FFF; }

/* line 2, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
.cards-warpper, .index-card-warpper {
  max-width: 900px;
  margin: 10px auto; }
  /* line 5, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .card, .index-card-warpper .card {
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 10px; }
    /* line 10, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card:first-of-type, .index-card-warpper .card:first-of-type {
      margin-top: 80px; }
    /* line 12, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card.cardMove, .index-card-warpper .card.cardMove {
      animation: cardMove 1s ease-in-out;
      animation-fill-mode: forwards; }
    /* line 15, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card *, .index-card-warpper .card * {
      transition: 0.1s; }
    /* line 17, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card .hide-in-inActive, .index-card-warpper .card .hide-in-inActive {
      height: 0;
      display: block;
      overflow: hidden;
      transition: .2s; }
    /* line 22, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card .show-in-active, .index-card-warpper .card .show-in-active {
      height: auto;
      overflow: hidden; }
    /* line 27, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card.inActive .valign-wrapper, .index-card-warpper .card.inActive .valign-wrapper {
      height: 65px; }
  /* line 29, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .card-head, .index-card-warpper .card-head {
    border-bottom: 1px solid #EEE;
    display: flex; }
    /* line 32, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-head .col, .index-card-warpper .card-head .col {
      margin: auto; }
      /* line 34, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-head .col p:first-of-type, .index-card-warpper .card-head .col p:first-of-type {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 0; }
      /* line 39, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-head .col p:last-of-type, .index-card-warpper .card-head .col p:last-of-type {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 10px; }
    /* line 44, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-head .col.left-align, .index-card-warpper .card-head .col.left-align {
      padding-top: 5px;
      color: #87764d;
      font-weight: bold; }
    /* line 48, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-head .image-thump-warpper, .index-card-warpper .card-head .image-thump-warpper {
      display: flex; }
      /* line 50, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-head .image-thump-warpper .image, .index-card-warpper .card-head .image-thump-warpper .image {
        width: 90px;
        margin: auto;
        margin-right: 0;
        padding: 10px;
        margin-left: 0; }
        /* line 56, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
        .cards-warpper .card-head .image-thump-warpper .image img, .index-card-warpper .card-head .image-thump-warpper .image img {
          width: 100%; }
      /* line 58, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-head .image-thump-warpper .text, .index-card-warpper .card-head .image-thump-warpper .text {
        margin: auto;
        margin-left: 0;
        margin-right: 0; }
  /* line 63, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .card-body .contact-info, .index-card-warpper .card-body .contact-info {
    margin-top: 10px; }
    /* line 65, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-body .contact-info p, .index-card-warpper .card-body .contact-info p {
      margin: 0;
      padding: 5px 0; }
    /* line 68, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-body .contact-info p:first-of-type, .index-card-warpper .card-body .contact-info p:first-of-type {
      padding-bottom: 10px; }
  /* line 70, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .card-footer, .index-card-warpper .card-footer {
    margin-top: 20px; }
    /* line 72, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-footer button, .index-card-warpper .card-footer button {
      direction: ltr;
      margin-left: 15px; }
    /* line 75, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
    .cards-warpper .card-footer .toggler, .index-card-warpper .card-footer .toggler {
      display: block;
      float: left; }
      /* line 78, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-footer .toggler i, .index-card-warpper .card-footer .toggler i {
        position: relative;
        top: 10px; }
      /* line 82, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-footer .toggler.on .on, .index-card-warpper .card-footer .toggler.on .on {
        display: block; }
      /* line 84, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-footer .toggler.on .off, .index-card-warpper .card-footer .toggler.on .off {
        display: none; }
      /* line 87, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-footer .toggler.off .on, .index-card-warpper .card-footer .toggler.off .on {
        display: none; }
      /* line 89, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
      .cards-warpper .card-footer .toggler.off .off, .index-card-warpper .card-footer .toggler.off .off {
        display: block; }
  /* line 92, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .download-icon, .index-card-warpper .download-icon {
    position: relative;
    top: 5px; }
  /* line 97, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .person-info p, .index-card-warpper .person-info p {
    margin: 0; }
  /* line 99, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .person-info .job-title, .index-card-warpper .person-info .job-title {
    font-size: 13px;
    margin-top: 10px; }
  /* line 102, C:/xampp/htdocs/shahada/en/assets/css/imports/pages/s2.sass */
  .cards-warpper .info-title, .index-card-warpper .info-title {
    font-size: 11px; }

@keyframes cardMove {
  100% {
    transform: translate(50%) rotate(10deg);
    opacity: 0; } }

/* line 2, C:/xampp/htdocs/shahada/en/assets/css/imports/general/rtl.sass */
.input-field.col label {
  left: 0.75rem;
  right: auto; }

/* line 6, C:/xampp/htdocs/shahada/en/assets/css/imports/general/rtl.sass */
.select-wrapper span.caret {
  left: auto;
  right: 0; }

/* line 10, C:/xampp/htdocs/shahada/en/assets/css/imports/general/rtl.sass */
.row .col {
  float: left; }

/* line 13, C:/xampp/htdocs/shahada/en/assets/css/imports/general/rtl.sass */
.file-field .btn, .file-field .btn-large {
  float: left; }

/* line 16, C:/xampp/htdocs/shahada/en/assets/css/imports/general/rtl.sass */
#postData {
  float: right; }

/*# sourceMappingURL=importer.css.map */